// @charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/menu.sass";

$main-color-darker: #1dba54;
$main-color: #1ed761;

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}
@mixin flex-justify-btw {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: spotify-circular;
  src: url("https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2")
      format("woff2"),
    url("https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff") format("woff"),
    url("https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: spotify-circular;
  src: url("https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2")
      format("woff2"),
    url("https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff") format("woff"),
    url("https://open.scdn.co/fonts/CircularSpUIv3T-Book.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: spotify-circular;
  src: url("https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2")
      format("woff2"),
    url("https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff") format("woff"),
    url("https://open.scdn.co/fonts/CircularSpUIv3T-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: glue1-spoticon;
  src: url("https://open.scdn.co/fonts/spoticon_regular_2.woff2")
      format("woff2"),
    url("https://open.scdn.co/fonts/spoticon_regular_2.woff") format("woff"),
    url("https://open.scdn.co/fonts/spoticon_regular_2.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "spotify-circular" !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
  font-family: "spotify-circular" !important;
  // background: $bg;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.slick-list {
  margin: 0 -5px;
}

.slick-slide div {
  outline: none;
}

.slick-slide > div {
  padding: 0 5px;
}

a {
  color: grey !important;
}

//scroll bar
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 5px;
}

.logo svg {
  transform: scale(0.2);
  width: 200px;
  height: 200px;
  cursor: pointer;
  color: #fff;
}

$outline-color: #16262e;

.login__section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: left;
  animation: slide 40s ease;
  transform: translate3d(0, 0, 0);
  height: 100vh;
  position: relative;
  // background: #0088FF;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(76, 19, 117, 0.73)
    ),
    url("https://dissidentdisplay.com/wp-content/uploads/2020/09/gettyimages-1014868608.jpg");
  width: 100%;
  background-size: cover;
  color: white;
  padding: 20px;
  &__content {
    box-sizing: border-box;

    button {
      box-shadow: 0 20px 20px 3px rgba(50, 49, 49, 0.2);
      box-shadow: 0 20px 20px 3px rgba(50, 49, 49, 0.2);
      border: 1px solid #ffffff;
      background: transparent;
      font-size: 15px;
      color: white;
      &:hover {
        color: rgb(230, 230, 230);
      }
    }
  }
}

.login__section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background: linear-gradient(
  //   0deg,
  //   #000 0%,
  //   rgba(0, 0, 0, 0.5) 12%,
  //   rgba(0, 0, 0, 0.1) 30%,
  //   rgba(0, 0, 0, 0) 40%
  // );
}

.recommend-section {
  border: 0;
  &:hover {
    filter: brightness(88%);
  }
}

//range slider
input[type="range"] {
  width: 100%;
  outline: none;
  padding: 0;
  height: 4px;
  background-color: #404040;
  background-image: linear-gradient(#b3b3b3, #b3b3b3);
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  opacity: 0;
}
input[type="range"]:hover {
  background-image: linear-gradient($main-color-darker, $main-color-darker);
}
input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}

/*==================================================================*/
.wrap {
  width: 100%;
  min-width: 740px;
}
.list-area {
  width: 100%;
  height: calc(100vh - 86px);
  display: flex;
}

//sidemenu - nav: Top box
.side {
  position: relative;
  width: 250px;
  min-width: 200px;
  height: 100%;
  background-color: #f3f2f7;
  border-right: 2px solid #eee;
  z-index: 3;

  &__wrap {
    box-sizing: border-box;
    padding: 0 20px;
  }
  &__nav {
    // height: 200px;
    .nav {
      padding-top: 64px;
      .active {
        background: #0088ff !important;
        border-radius: 5px;
        &:hover {
          .nav__icon,
          .nav__text {
            color: rgb(255, 255, 255);
          }
        }
        .nav__text {
          color: white;
        }
        svg {
          color: #ffffff;
        }
      }
      &__list {
        padding: 2px 0;
        margin: auto;
        padding-left: 10px;

        &:hover {
          background: rgba(205, 203, 203, 0.2);
          .nav__icon,
          .nav__text {
            color: rgb(62, 62, 62);
          }
        }
      }
      &__icon {
        margin-top: 4px;
        width: 18px;
        text-align: center;
        font-size: 15px;
        float: left;
        color: #0088ff;
        font-size: #0088ff;

        svg {
          color: #0088ff;
        }
      }
      &__text {
        // color: rgb(40, 40, 40);
        display: inline-block;
        padding-left: 5px;
        line-height: 15px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  //sidemenu - list: Middle box
  &__contents {
    height: calc(100% - 266px);
    overflow-y: scroll;

    .contents {
      margin-bottom: 26px;

      &__title {
        font-size: 11px;
        color: #898989;
        padding: 0;
        letter-spacing: 1.6px;
      }
      &__box {
        margin-top: -10px;
      }
      &__list {
        // margin-top: 2px;
        position: relative;
        padding: 4px 0;
        padding-left: 10px;
        font-size: 13px;
        color: rgb(136, 136, 136);
        margin: auto;
        cursor: pointer;
        &__text {
          display: inline-block;
          line-height: 15px;
          font-size: 14px;
          font-weight: 400;
        }

        &__playlist-cover {
          width: 20px;
          border-radius: 2px;
        }
        svg {
          color: #0088ff;
        }

        &.on {
          border-radius: 5px;
          &:hover {
            .contents__list__text {
              color: #0088ff;
            }
          }
          .contents__list__text {
            color: #0088ff;
          }
          svg {
            color: #0088ff;
          }

          &::before {
            display: block;
            content: "";
            width: 5px;
            height: 20px;
            position: absolute;
            left: -20px;
            // background-color: #0088FF;
          }
        }
        &:hover {
          color: rgb(33, 33, 33);
        }
      }
    }
  }
  //sidemenu - new list: Bottom box
  &__new-list {
    height: 66px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .new-list {
      position: relative;
      top: 50%;
      // transform: translateY(-50%);

      &__icon {
        font-size: 26px;
        transform: rotate(45deg);
        float: left;
      }
      &__text {
        display: inline-block;
        margin-left: 10px;
        line-height: 26px;
        color: rgb(41, 41, 41);
      }
      &:hover {
        color: rgb(41, 41, 41);
      }
    }
  }
}

.main {
  position: relative;
  width: 100%;
  min-width: 638px;
  height: 100%;
  background-color: #ffffff;
  float: right;
  overflow-y: scroll;

  &__wrap {
    box-sizing: border-box;
    // padding: 0 26px;
  }
}
// play list - top area
.top-scroll-bg {
  display: block;
  width: 100%;
  min-width: 638px;
  height: 120px;
  position: fixed;
  top: 0%;
  // background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   0deg,
  //   rgba(0, 0, 0, 0) 0%,
  //   rgb(255, 255, 255) 200%
  // );
  // z-index: 1;
}
.top-bar {
  // background: white;
  position: fixed;
  width: calc(100% - 496px);
  height: 60px;
  margin: auto;
  padding: 10px 20px;
  @include flex-justify-btw;
  color: #ddd;
  line-height: 24px;
  z-index: 3;

  &__wrap {
    @include flex-justify-btw;
  }
  &__icon {
    font-size: 18px;
  }
  &__left {
    width: 240px;
  }
  &__search {
    position: relative;
    &--icon {
      @include position(absolute, 5px, 8px);
      color: #292929;
      font-size: 16px;
    }
    &--input {
      width: 176px;
      height: 24px;
      line-height: 24px;
      text-indent: 30px;
      border-radius: 13px;
      outline: none;
      border: none;
    }
  }
  &__right {
    width: 110px;

    &--user-icon {
      position: relative;
      left: 12px;
      font-size: 24px;
    }
  }
}

.summary {
  display: flex;
  padding-top: 45px;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;

  &__img {
    min-width: 222px;
    height: 222px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 20px 20px 3px rgba(197, 196, 196, 0.1);
    z-index: 1;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 0.25;
    height: 380px;
    filter: brightness(95%);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    // background: linear-gradient(
    //   to top,
    //   rgba(0, 0, 0, 0),
    //   rgba(24, 27, 55, 0.9),
    //   rgb(24, 27, 55)
    // );
  }

  &__banner {
    position: absolute;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: 1;
    height: 320px;
    width: 100%;
  }
  // play list - summary area: text box
  &__box {
    height: 198px;
    margin-left: 18px;
    line-height: 1.5;
    z-index: 1;
  }
  &__text {
    &--white {
      color: #fff;
    }
    &--black {
      color: rgb(19, 19, 19);
    }
    &--for-me {
      font-size: 12px;
      letter-spacing: 1.8px;
    }
    &--title {
      color: rgb(24, 24, 24);
      font-size: 40px;
      font-weight: 700;
    }
    &--by-spotify {
      margin: 10px 0;
    }
  }
  // play list - summary area: buttons(play, heart, more)
  &__button {
    .button {
      @include flex-justify-btw;
      width: 196px;
      color: #fff;

      &__list {
        width: 32px;
        height: 32px;
        position: relative;
        border-radius: 50%;
        border: 1px solid #b3b3b3;

        &:hover {
          border: 1px solid #fff;
          transform: scale(1.05);
        }
      }
      &__play-btn {
        width: 108px;
        border-radius: 17px;

        // &:hover {
        //   background-color: $main-color;
        //   border: 1px $main-color;
        // }
      }
      &__text {
        text-align: center;
        font-size: 12px;
        line-height: 32px;
        letter-spacing: 1.8px;
      }
      &__icon {
        @include position(absolute, 50%, 50%);
        transform: translate(-50%, -50%);
        font-size: 15px;
      }
    }
  }

  &.on {
    width: calc(100% - 496px);
    min-width: 638px;
    height: 60px;
    position: fixed;
    top: 60px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    z-index: 30;
    overflow: hidden;
    display: none;

    .summary {
      &__img {
        min-width: 38px;
        height: 38px;
        float: left;
        position: relative;
        animation: sticky 0.5s;
        animation-fill-mode: both;
      }
      @keyframes sticky {
        from {
          top: 50px;
        }
        to {
          top: 0px;
        }
      }
      &__box {
        width: calc(100% - 40px);
        @include flex-justify-btw;
        padding-top: 0;
      }
      &__text {
        font-size: 24px;
        line-height: 40px;
        padding-left: 10px;
        position: relative;
        animation: sticky 0.5s;
        animation-fill-mode: both;
      }
    }
    .button {
      margin-top: 3px;

      &__list {
        position: relative;
        animation-fill-mode: both;

        &:nth-child(1) {
          animation: sticky 0.5s 0.1s;
        }
        &:nth-child(2) {
          animation: sticky 0.5s 0.2s;
        }
        &:nth-child(3) {
          animation: sticky 0.5s 0.3s;
        }
      }
    }
  }
}
/* play list - contents : song list table */
.playlist {
  width: 100%;
  color: rgb(19, 19, 19);
  border-collapse: collapse;

  &__th {
    padding: 6px 0 6px 10px;
    color: #b3b3b3;
    font-size: 12px;
    letter-spacing: 1.4px;
    text-align: left;
  }
  &__tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    // border-radius: 10px;
    cursor: pointer;
    &.nowplay {
      background-color: rgba(227, 226, 226, 0.5);
      color: #0088ff;

      .playlist__td {
        &--title,
        &--artist,
        &--album,
        &--hour {
          color: #0088ff;
        }
        &--play,
        &--dislike,
        &--more {
          opacity: 1;
        }
      }
    }

    &:hover {
      background-color: rgb(242, 242, 242);
      color: rgb(0, 0, 0);
    }
    &:hover .playlist__td {
      &--play,
      &--dislike,
      &--more {
        opacity: 1;
      }
    }
  }
  &__td {
    padding: 10px 10px;

    &--play,
    &--dislike,
    &--more {
      opacity: 0;
    }

    &--hour {
      min-width: 104px;
    }
    &--title,
    &--artist,
    &--albim {
      max-width: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        text-decoration: underline;
      }
    }
    &--title {
      min-width: 260px;

      &:hover {
        text-decoration: none;
      }
    }
    &--hour,
    &--dislike,
    &--more {
      color: #b3b3b3;
    }
  }
}
.playbar {
  display: flex;
  width: 100%;
  height: 86px;
  padding: 18px 16px 12px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-top: 2px solid #eee;
}
// playbar - album cover and info
.album-cover {
  min-width: 280px;
  display: flex;
  flex: 1;

  &__img {
    width: 56px;
    height: 56px;
    // background: url(https://i.scdn.co/image/ab67616d00001e02a00bcbae89bf421636fdd310);
    background-size: cover;
  }
  &__text-box {
    padding: 0 10px;
  }
  &__wrap {
    // display: flex;
    line-height: 2.4;
  }
  &__title {
    color: rgb(0, 0, 0);

    &:hover {
      text-decoration: underline;
    }
  }
  &__icon-box {
    margin-left: 20px;
  }
  &__icons {
    margin: -2px 0 0 4px;
  }
  &__artist {
    color: rgb(58, 58, 58);
    font-size: 11px;
    cursor: pointer;

    &:hover {
      color: rgb(36, 36, 36);
      text-decoration: underline;
    }
  }
}
// playbar - play buttons
.play-btns {
  width: 100%;
  min-width: 342px;
  flex: 3;

  &__wrap {
    @include flex-justify-btw;
  }
  &__icon-box {
    width: 218px;
    margin: auto;
    font-size: 14px;
    line-height: 32px;
  }
  &__list:hover {
    color: rgb(21, 21, 21);
    .fa-play-circle {
      cursor: pointer;
      color: #0088ff;
      transform: scale(1.05);
    }
  }

  &__icon.fa-random {
    cursor: pointer;
  }

  &__icon.fa-step-backward {
    cursor: pointer;
  }

  &__icon.fa-step-forward {
    cursor: pointer;
  }
  &__icon.fa-sync {
    cursor: pointer;
  }

  &__icon.fa-play-circle {
    cursor: pointer;
    color: #c4c4c4;
    font-size: 20px;
  }
  &__range-bar {
    width: 84%;
    margin: auto;
    font-size: 11px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__bar {
    flex: 2;
    padding: 0 20px;
    margin: auto;
  }
}
// playbar - other buttons(right side)
.ect-btns {
  max-width: 228px;
  min-width: 228px;
  flex: 1;
  font-size: 14px;

  &__inner {
    @include flex-justify-btw;
    padding-left: 18px;
  }
  &__list {
    line-height: 56px;

    &:hover .ect-btns__icon {
      color: #fff;
    }
    &--volume {
      display: flex;
    }
  }
  &__icon {
    cursor: pointer;
    padding-right: 6px;
    line-height: 56px;
  }
  &__bar {
    width: 74px;
    margin-top: -3px;
  }
}

/*==================================================================*/
/* modal */
.bg-area {
  @include position(fixed, 0, 0);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;

  display: none;
}

/*==================================================================*/

@media all and (max-width: 1085px) and (min-width: 1020px) {
  .playlist {
    &__th--album,
    &__td--album {
      display: none;
    }
  }
}

/*==================================================================*/
@media all and (max-width: 1019px) {
  .summary {
    &__img {
      min-width: 133px;
      height: 133px;
    }
    .will-hidden {
      display: none;
    }
    &__button {
      margin-left: -148px;
    }
  }
  .playlist {
    &__th--album,
    &__td--album {
      display: none;
    }
  }
}

@media all and (max-width: 966px) {
  .playlist {
    &__th--album,
    &__th--hour,
    &__td--album,
    &__td--hour {
      display: none;
    }
  }
}

$gutter: 10px;
$bg: #121212;
$dark: #121212;
$darkest: #121212;
$green: #1cff65;
$maxwidth: 1290px;
$colsBigDesktop: 6;
$colsSmallDesktop: 4;

.tabs ul {
  border-bottom-color: rgba(164, 164, 164, 0.2);
}

.tabs li a {
  border-bottom-color: rgba(164, 164, 164, 0.2);
}

.tabs li.is-active a {
  border-bottom-color: #0e0e0e;
}

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}

.chart {
  &__item {
    cursor: pointer;
    border-radius: 15px;
    &__play__button {
      cursor: pointer;
      display: none;
    }
    &:hover {
      background: rgba(213, 213, 213, 0.2);
    }
    &:hover &__play__button {
      cursor: pointer;
      z-index: 1;
      margin: 0;
      position: absolute;
      bottom: -10%;
      right: 0%;
      transform: translate(-50%, -50%);
      display: block;
      button {
        border: 0px;
        background: rgba(176, 176, 176, 0.4);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: white;
        &:hover {
          background: #0088ff;
        }
      }
    }
  }
}

.hs {
  display: flex;
  overflow-x: scroll;
  // justify-content: space-between;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  margin: 0 -20px;
  &__header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__headline {
    z-index: 0;
    flex: 1;
    font-size: 25px !important;
    font-weight: 600 !important;
  }
  &__arrows {
    z-index: 1;
    align-self: center;
    button {
      background: transparent;
      border: 0px;
      outline: none;
    }
    button:focus {
      outline: none;
      box-shadow: none;
    }
    .arrow {
      z-index: 2;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        content: "";
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
        background-size: contain;
        filter: brightness(2);
        width: 18px;
        height: 12px;
        cursor: pointer;
      }
      &.disabled:before {
        filter: brightness(2);
        opacity: 0.3;
      }
      &.arrow-prev:before {
        transform: rotate(90deg);
        margin-right: $gutter;
      }
      &.arrow-next:before {
        transform: rotate(-90deg);
      }
    }
  }
  &__item {
    scroll-snap-align: center;
    cursor: pointer;
    // flex-grow: 1;
    // flex-shrink: 0;
    // flex-basis: calc(
    //   100% / #{$colsBigDesktop} - (#{$gutter} * 2) - (20px / #{$colsBigDesktop})
    // );
    // how it works: total width devided by columns minus left and right margin per box minus negativ margin of outer container.
    // oh and IE11 does not support the shorthand "flex" with calc, so you have to use flex-basis etc. separately;
    margin: $gutter;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    user-select: none;

    // @media only screen and (max-width: 990px) {
    //   flex-basis: calc(
    //     100% / #{$colsSmallDesktop} - (#{$gutter} * 2) - (20px / #{$colsSmallDesktop})
    //   );
    // }
    &:last-child:after {
      content: "";
      display: block;
      position: absolute;
      width: $gutter;
      height: 1px;
      // right: calc(#{$gutter} * 2 * -1);
    }
    &:first-child {
      margin-left: calc(#{$gutter} * 2);
    }
    &__description {
      align-self: flex-start;
      margin: 10px 0;
    }

    &__title {
      font-size: 14px;
      font-weight: 550 !important;
    }

    &__subtitle {
      font-size: 13px;
      color: rgba(60, 67, 67, 0.6);
      display: block;
    }
    &__image__wrapper {
      cursor: pointer;
      position: relative;
      width: 220px;
      background: grey;
      height: 0;
      padding-bottom: 100%;
    }
    &__image {
      box-shadow: 0 20px 20px 3px rgba(197, 196, 196, 0.4);
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: rgb(232, 232, 232);
    }
    &__play__button {
      cursor: pointer;
      display: none;
    }
    &__play__artist__button {
      display: none;
    }
    &:hover &__image {
      filter: brightness(85%);
    }
    &:hover &__play__button {
      z-index: 1;
      margin: 0;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      button {
        border: 0px;
        background: rgba(176, 176, 176, 0.4);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        &:hover {
          background: #0088ff;
        }
      }
    }
    &:hover &__play__artist__button {
      z-index: 102;
      margin: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      button {
        border: 0px;
        background: rgba(176, 176, 176, 0.4);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        &:hover {
          background: #0088ff;
        }
      }
    }
  }

  &__wrapper {
    @media only screen and (min-width: 990px) {
      overflow: hidden;
    }
    @media (hover: none) and (pointer: coarse) {
      // .hs__arrows {
      //   display: none;
      // }
      // .hs__item {
      //   flex: 1 0 calc(23% - #{$gutter} * 2);
      // }
      @media only screen and (max-width: 990px) {
        // .hs__item {
        //   flex: 1 0 calc(45% - #{$gutter} * 2);
        // }
      }
    }
  }
}

.ad {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  // scrollbar-width: none; /* Firefox */
  // -ms-overflow-style: none; /* IE 10+ */
  // -webkit-overflow-scrolling: touch;
  margin: 0 -20px;
  scroll-snap-type: x mandatory !important;
  &__header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__headline {
    font-size: 25px !important;
    font-weight: 600 !important;
    z-index: 0;
    flex: 1;
  }
  &__arrows {
    z-index: 99;
    align-self: center;
    button {
      background: transparent;
      border: 0px;
      outline: none;
    }
    button:focus {
      outline: none;
      box-shadow: none;
    }
    .arrow {
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        content: "";
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
        background-size: contain;
        filter: brightness(5);
        width: 18px;
        height: 12px;
        cursor: pointer;
      }
      &.disabled:before {
        filter: brightness(2);
      }
      &.arrow-prev:before {
        transform: rotate(90deg);
        margin-right: $gutter;
      }
      &.arrow-next:before {
        transform: rotate(-90deg);
      }
    }
  }
  &__item {
    flex-grow: 1;
    flex-shrink: 0;
    // flex-basis: calc(
    //   100% / #{$colsBigDesktop} - (#{$gutter} * 2) - (20px / #{$colsBigDesktop})
    // );
    // how it works: total width devided by columns minus left and right margin per box minus negativ margin of outer container.
    // oh and IE11 does not support the shorthand "flex" with calc, so you have to use flex-basis etc. separately;
    margin: $gutter;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    user-select: none;
    // @media only screen and (max-width: 990px) {
    //   flex-basis: calc(
    //     100% / #{$colsSmallDesktop} - (#{$gutter} * 2) - (20px / #{$colsSmallDesktop})
    //   );
    // }
    &:last-child:after {
      content: "";
      display: block;
      position: absolute;
      width: $gutter;
      height: 1px;
      // right: calc(#{$gutter} * 2 * -1);
    }
    // &:first-child {
    //   margin-left: calc(#{$gutter} * 2);
    // }

    &__description {
      z-index: 1;
      align-self: end;
      margin: 10px 0;
    }

    &__image__wrapper {
      // box-shadow: 0 3px 3px rgba(55, 55, 55, 0.4);
      background-size: cover;
      background-position: center center;
      border-radius: 10px;
      position: relative;
      width: 600px;
      // background: rgb(0, 0, 0);
      height: 190px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      filter: blur(22px) brightness(90%);
      -webkit-filter: blur(22px) brightness(90%);
      z-index: 0.2;
    }

    &__image {
      // background-color: rgba(114, 114, 114, 0.1);
      // opacity: 0.8;
      // z-index: 0.95;
      background-size: cover;
      background-position: center center;
      pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 500px;
      height: 200px;
      object-fit: contain;
      .inline__album {
        width: 200px;
        height: 200px;
      }
      .subtitle {
        z-index: 1;
        color: #aaa;
      }
    }
  }
  &__wrapper {
    @media only screen and (min-width: 990px) {
      overflow: hidden;
    }
    @media (hover: none) and (pointer: coarse) {
      // .hs__arrows {
      //   display: none;
      // }
      .hs__item {
        flex: 1 0 calc(23% - #{$gutter} * 2);
      }
      @media only screen and (max-width: 990px) {
        .hs__item {
          flex: 1 0 calc(45% - #{$gutter} * 2);
        }
      }
    }
  }
}
/* Base Styling */

.platform-container {
  max-width: $maxwidth;
  padding: calc(#{$gutter} * 2);
  margin: 0 auto;
  mix-blend-mode: invert;
  position: relative;
  // &:after {
  //   content: "";
  //   width: 100vw;
  //   height: 100%;
  //   background: $dark;
  //   position: absolute;
  //   left: 50%;
  //   top: 0;
  //   transform: translateX(-50%);
  //   z-index: -1;
  // }
  @media only screen and (min-width: 990px) {
    padding: calc(#{$gutter} * 4) calc(#{$gutter} * 8);
  }
}

.description {
  max-width: $maxwidth;
  color: $dark;
  margin: 0 auto;
  padding: calc(#{$gutter} * 4);
}

ul {
  padding: 0;
  margin: 0;
}

.item-container {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  padding: 0;
  scroll-snap-type: x mandatory;
  // margin: 0;
}

.item {
  padding: 30px;
  margin-right: 2px;
  background-color: coral;
  flex-shrink: 0;
}

.item-controls {
  text-align: center;
}

//@at-root

.tl-fixed {
  table-layout: fixed;
}

.wordbreak {
  word-break: break-all;
}

.clear {
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

/* Text Align */

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

/* Float */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* Font Weight */

.fw1 {
  font-weight: 100;
}

/* Font-Size */

.fss {
  font-size: 12px;
}

.fs {
  font-size: 14px;
}

/* Border */

.b0 {
  border: 0px;
}

.btop {
  border-top-width: 1px;
}

.bbottom {
  border-bottom-width: 1px;
}

.bwidth {
  border-width: 1px;
}

.bsolid {
  border-style: solid;
}

.bcwhite {
  border-color: white;
}

.bcdefault {
  border-color: #393b3f;
}

/* Fill */

.fill-green {
  fill: #648f00;
}

.fill-gray {
  fill: #949599;
}

.fill-white {
  fill: white;
}

/* Background */

.bg-gray {
  background: #ffffff;
}

.bg-dark {
  background: #ffffff;
}

.bg-midnightgray {
  background: #ffffff;
}

.bg-white {
  background: #fff;
}

/* Text Color */

.text-default {
  font-size: 15px;
  line-height: 1.9;
  color: #949599;
}

.text-white {
  color: white;
}

.text-ivory {
  color: #d5d9e4;
}

/* Margin */

.m0 {
  margin: 0;
}

.ml-220px {
  margin-left: 280px;
}

/* Button */

.btn {
  padding-left: 8px;
  padding-right: 8px;
}

/* Widths */

.wi-220px {
  width: 280px;
}

.wi-210px {
  width: 210px;
}

.wi-150px {
  width: 180px;
}

.wi-50px {
  width: 50px;
}

.wi-100 {
  width: 100%;
}

.wi-90 {
  width: 90%;
}

.wi-80 {
  width: 60%;
}

.wi-60 {
  width: 60%;
}

.wi-50 {
  width: 50%;
}

.wi-40 {
  width: 40%;
}

.wi-20 {
  width: 20%;
}

/* Z Index */

.layer2 {
  z-index: 101;
}

.layer3 {
  z-index: 0;
}

/* Absolute Positioning */

.top-bottom {
  top: 0;
  bottom: 0;
}

.left-right {
  left: 0;
  right: 0;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.t-45 {
  top: 45px;
}

/* Positioning */

.ppa {
  position: absolute;
}

.pfx {
  position: fixed;
}

/* List */

.list {
  list-style-type: none;
  margin-bottom: 20px;
}

/* Line-Height */

.lineheight1 {
  line-height: 100%;
}

.lineheight2 {
  line-height: 125%;
}

/* Text Transform */

.uppercase {
  text-transform: uppercase;
}

/* Custom Icon */

.icon {
  vertical-align: middle;
}

.icon--small {
  width: 14px;
  height: 14px;
}

/* Display */

.dib {
  display: inline-block;
}

.dt {
  display: table;
}

.di {
  display: inline;
}

.dtc {
  display: table-cell;
}

/* Vertical Align */

.va-middle {
  vertical-align: middle;
}

.va-top {
  vertical-align: top;
}

/* Custom Avatar Size */

.avatar-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Text Truncate */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Custom Pause Button */

.pause {
  width: 30px;
  height: 30px;
}

/* Overflow */

.oscroll {
  overflow: scroll;
}

.ohidden {
  overflow: hidden;
}

/* Custom Range Slider */

.rangeSlider {
  -webkit-appearance: none !important;
  background: #3e3e40;
  height: 3px;
}

.rangeSlider:focus {
  outline: 0;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.rangeSlider:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.25);
}

#bg-artwork {
  position: fixed;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: 0;
}

#bg-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 1;
  z-index: 0.25;
}

.centered-all {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  opacity: 0.71;
  z-index: 0.25;
}

///@at-root

.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.now-playing__artist {
  margin-bottom: 1em;
}
.now-playing__status {
  margin-bottom: 1em;
}
.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}
.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}
.now-playing__side {
  margin-left: 5%;
  width: 45%;
}
/** Progress **/
.progress {
  background-color: rgb(46, 46, 46);
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}
.progress__bar {
  background-color: rgb(140, 140, 140);
  height: 4px;
  cursor: pointer;
}

///@at-root

.bg > img {
  width: 100%;
  margin: 0;
  display: block;
}

.sheet {
  margin: auto;
  z-index: 100;
  position: fixed;
  // left: 2vw;
  height: calc(100vh + 450px);
  width: 100vw;
  // filter: brightness(90%);
  // border-radius: 12px 12px 0px;
  touch-action: none;
  color: rgb(255, 255, 255);
  padding: 20px;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.2);
    opacity: 1;
    z-index: -1;
    height: 100%;
    filter: brightness(95%);
  }
  &__cover {
    width: 330px;
    height: 330px;
    z-index: 4;

    img {
      box-shadow: 0 5px 5px 3px rgba(55, 55, 55, 0.1);
    }
  }

  .play-btns {
    width: 100%;
    min-width: 342px;
    flex: 3;

    &__wrap {
      @include flex-justify-btw;
    }
    &__icon-box {
      width: 218px;
      margin: auto;
      font-size: 14px;
      line-height: 32px;
    }
    &__list:hover {
      color: rgb(21, 21, 21);

      .fa-play-circle {
        color: #0088ff;
        transform: scale(1.05);
      }
    }
    &__icon.fa-play-circle {
      color: #0088ff;
      font-size: 25px;
    }
    &__range-bar {
      width: 100%;
      margin: auto;
      font-size: 11px;
      padding: 0 20px;
      box-sizing: border-box;
    }
    &__bar {
      flex: 2;
      padding: 0 20px;
      margin: auto;
    }
  }
}

.sheet > div {
  // height: 360px;
  display: block;
  align-items: center;
  justify-content: center;
  // padding: 0 20px;
  text-transform: capitalize;
}

/* Demo styles */
:root {
  --gutter: 20px;
}

.gs {
  margin-left: -10px;
  display: grid;
  grid-gap: calc(var(--gutter) / 3);
  grid-template-columns: 10px;
  grid-template-rows: minmax(190px, 1fr);
  grid-auto-flow: column;
  // grid-auto-columns: calc(50% - var(--gutter) * 12);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
  &:before {
    content: "";
    width: 10px;
  }
  &:after {
    content: "";
    width: 10px;
  }
  // > li {
  //   scroll-snap-align: center;
  //   padding: calc(var(--gutter) / 2 * 1.5);
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   // background: rgb(34, 34, 34);
  //   border-radius: 8px;
  // }
  .item {
    scroll-snap-align: center;
    padding: calc(var(20px) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background: transparent;
    padding: 0px;
    // background: rgb(225, 225, 225);
    border-radius: 2px;
  }
}

/* END Martin Wolf CodePen Standard */

.test-cover-text {
  margin: 0 auto;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 250px;
  height: 16px * 1.4 * 1; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album {
  &__item {
    cursor: pointer;
    &__description {
      align-self: flex-start;
      margin: 10px 0;
    }

    &__title {
      font-size: 14px;
      font-weight: 550 !important;
    }

    &__subtitle {
      font-size: 13px;
      color: rgba(60, 67, 67, 0.6);
      display: block;
    }
    &__image__wrapper {
      cursor: pointer;
      position: relative;
      background: grey;
      padding-bottom: 100%;
    }
    &__image {
      box-shadow: 0 20px 20px 3px rgba(197, 196, 196, 0.4);
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: rgb(232, 232, 232);
    }
    &__play__button {
      cursor: pointer;
      display: none;
    }
    &__play__artist__button {
      display: none;
    }
    &:hover &__image {
      filter: brightness(85%);
    }
    &:hover &__play__button {
      z-index: 1;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      button {
        border: 0px;
        background: rgba(176, 176, 176, 0.4);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        &:hover {
          background: #0088ff;
        }
      }
    }
    &:hover &__play__artist__button {
      z-index: 102;
      margin: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      button {
        border: 0px;
        background: rgba(176, 176, 176, 0.4);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        &:hover {
          background: #0088ff;
        }
      }
    }
  }
}

.search {
  display: flex;
  padding-top: 105px;

  &__img {
    min-width: 222px;
    height: 222px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 20px 20px 3px rgba(197, 196, 196, 0.1);
    z-index: 2;
  }

  &__bg {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
    height: 2900px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    background: #ffffff;
  }

  &__banner {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // filter: blur(10px);
    // -webkit-filter: blur(10px);
    z-index: 3;
  }
  // play list - summary area: text box
  &__box {
    height: auto;
    margin-left: 18px;
    line-height: 1.5;
    z-index: 1;
    &__content {
      cursor: pointer;
      margin-top: 10px;
      &:hover {
        background: rgba(238, 238, 238, 0.7);
      }
    }
  }

  &__text {
    &--white {
      color: #fff;
    }
    &--black {
      color: rgb(19, 19, 19);
    }
    &--for-me {
      font-size: 12px;
      letter-spacing: 1.8px;
    }
    &--title {
      color: rgb(24, 24, 24);
      font-size: 40px;
      font-weight: 700;
    }
    &--by-spotify {
      margin: 10px 0;
    }
  }
  // play list - summary area: buttons(play, heart, more)
  &__button {
    .button {
      @include flex-justify-btw;
      width: 196px;
      color: #fff;

      &__list {
        width: 32px;
        height: 32px;
        position: relative;
        border-radius: 50%;
        border: 1px solid #b3b3b3;

        &:hover {
          border: 1px solid #fff;
          transform: scale(1.05);
        }
      }
      &__play-btn {
        width: 108px;
        border-radius: 17px;

        // &:hover {
        //   background-color: $main-color;
        //   border: 1px $main-color;
        // }
      }
      &__text {
        text-align: center;
        font-size: 12px;
        line-height: 32px;
        letter-spacing: 1.8px;
      }
      &__icon {
        @include position(absolute, 50%, 50%);
        transform: translate(-50%, -50%);
        font-size: 15px;
      }
    }
  }
}
