.album {
  &__item {
    transform-origin: 0 0;
    will-change: transform;
    cursor: pointer;
    &__description {
      align-self: flex-start;
      margin: 10px 0;
    }

    &__title {
      font-size: 14px;
      font-weight: 550 !important;
    }

    &__subtitle {
      font-size: 13px;
      color: rgba(60, 67, 67, 0.6);
      display: block;
    }
    &__image__wrapper {
      cursor: pointer;
      position: relative;
      background: grey;
      padding-bottom: 100%;
    }
    &__image {
      box-shadow: 0 20px 20px 3px rgba(197, 196, 196, 0.4);
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: rgb(232, 232, 232);
    }
    &__play__button {
      cursor: pointer;
      display: none;
    }
    &__play__artist__button {
      display: none;
    }
    &:hover &__image {
      filter: brightness(85%);
    }
    &:hover &__play__button {
      z-index: 1;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      button {
        border: 0px;
        background: rgba(176, 176, 176, 0.4);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        &:hover {
          background: #3d83ff;
        }
      }
    }
    &:hover &__play__artist__button {
      z-index: 102;
      margin: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      button {
        border: 0px;
        background: rgba(176, 176, 176, 0.4);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        &:hover {
          background: #3d83ff;
        }
      }
    }
  }
}

.equalizer {
  position: absolute;
  bottom: 16.25vmin;
  left: 16.25vmin;
  display: block;
  width: 5vmin;
  background-color: black;
  height: 2.5vmin;
}

.equalizer,
.equalizer::before,
.equalizer::after {
  animation: equalize 1.25s steps(25, end) 0s infinite;
}

.equalizer::before,
.equalizer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6.25vmin;
  height: 17.5vmin;
  width: 5vmin;
  background-color: black;
}

.equalizer::before {
  animation-name: equalize2;
}

.equalizer::after {
  left: 12.5vmin;
  animation-name: equalize3;
}

@keyframes equalize {
  0% {
    height: 5vmin;
  }
  4% {
    height: 2.5vmin;
  }
  8% {
    height: 5vmin;
  }
  12% {
    height: 8.75vmin;
  }
  16% {
    height: 12.5vmin;
  }
  20% {
    height: 16.25vmin;
  }
  24% {
    height: 15vmin;
  }
  28% {
    height: 13.75vmin;
  }
  32% {
    height: 13.75vmin;
  }
  36% {
    height: 10vmin;
  }
  40% {
    height: 12.5vmin;
  }
  44% {
    height: 12.5vmin;
  }
  48% {
    height: 13.75vmin;
  }
  52% {
    height: 15vmin;
  }
  56% {
    height: 16.25vmin;
  }
  60% {
    height: 15vmin;
  }
  64% {
    height: 15vmin;
  }
  68% {
    height: 13.75vmin;
  }
  72% {
    height: 12.5vmin;
  }
  76% {
    height: 13.75vmin;
  }
  80% {
    height: 15vmin;
  }
  84% {
    height: 15vmin;
  }
  88% {
    height: 16.25vmin;
  }
  92% {
    height: 12.5vmin;
  }
  96% {
    height: 8.75vmin;
  }
  100% {
    height: 5vmin;
  }
}
@keyframes equalize2 {
  0% {
    height: 15vmin;
  }
  4% {
    height: 16.25vmin;
  }
  8% {
    height: 15vmin;
  }
  12% {
    height: 15vmin;
  }
  16% {
    height: 13.75vmin;
  }
  20% {
    height: 13.75vmin;
  }
  24% {
    height: 13.75vmin;
  }
  28% {
    height: 15vmin;
  }
  32% {
    height: 15vmin;
  }
  36% {
    height: 16.25vmin;
  }
  40% {
    height: 16.25vmin;
  }
  44% {
    height: 16.25vmin;
  }
  48% {
    height: 13.75vmin;
  }
  52% {
    height: 10vmin;
  }
  56% {
    height: 7.5vmin;
  }
  60% {
    height: 10vmin;
  }
  64% {
    height: 12.5vmin;
  }
  68% {
    height: 13.75vmin;
  }
  72% {
    height: 16.25vmin;
  }
  76% {
    height: 15vmin;
  }
  80% {
    height: 15vmin;
  }
  84% {
    height: 13.75vmin;
  }
  88% {
    height: 13.75vmin;
  }
  92% {
    height: 11.25vmin;
  }
  96% {
    height: 13.75vmin;
  }
  100% {
    height: 15vmin;
  }
}
@keyframes equalize3 {
  0% {
    height: 11.25vmin;
  }
  4% {
    height: 8.75vmin;
  }
  8% {
    height: 11.25vmin;
  }
  12% {
    height: 13.75vmin;
  }
  16% {
    height: 16.25vmin;
  }
  20% {
    height: 18.75vmin;
  }
  24% {
    height: 17.5vmin;
  }
  28% {
    height: 13.75vmin;
  }
  32% {
    height: 11.25vmin;
  }
  36% {
    height: 10vmin;
  }
  40% {
    height: 8.75vmin;
  }
  44% {
    height: 6.25vmin;
  }
  48% {
    height: 10vmin;
  }
  52% {
    height: 12.5vmin;
  }
  56% {
    height: 13.75vmin;
  }
  60% {
    height: 16.25vmin;
  }
  64% {
    height: 15vmin;
  }
  68% {
    height: 13.75vmin;
  }
  72% {
    height: 13.75vmin;
  }
  76% {
    height: 12.5vmin;
  }
  80% {
    height: 15vmin;
  }
  84% {
    height: 16.25vmin;
  }
  88% {
    height: 17.5vmin;
  }
  92% {
    height: 15vmin;
  }
  96% {
    height: 12.5vmin;
  }
  100% {
    height: 11.25vmin;
  }
}
.center-me {
  z-index: 99;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.center-me:hover {
  background-color: white;
  box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}
